<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794275162161-hinscipund2aqvqopvpbov0b8p2elkvp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794275162161-hinscipund2aqvqopvpbov0b8p2elkvp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>794275162161-islp2bfbcijqavd02iu2tk3nd5m7sglq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBMgkPxoOQ-fLWK8gRK5Y-4fNsPN8XePh8</string>
	<key>GCM_SENDER_ID</key>
	<string>794275162161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theginigroup.giniapp</string>
	<key>PROJECT_ID</key>
	<string>angelina-cnnahw</string>
	<key>STORAGE_BUCKET</key>
	<string>angelina-cnnahw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794275162161:ios:4b463a67aa65d460aa8d10</string>
	<key>DATABASE_URL</key>
	<string>https://angelina-cnnahw.firebaseio.com</string>
</dict>
</plist>